body{
	padding: 50px;
	background-image: url(https://images.unsplash.com/photo-1488998527040-85054a85150e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.moving-text-container {
	overflow: hidden;
	white-space: nowrap;
	background-color: #f2f2f2;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
}

.moving-text {
	display: inline-block;
	animation: moveRight 10s linear infinite;
	color: #4169E1;
	font-weight:bold;
}

@keyframes moveRight {
	0% {
	transform: translateX(100%);
	}
	100% {
	transform: translateX(-100%);
	}
}
h3{
	text-align: center;
	font-weight: bold;
}
.first-heading{
	font-weight: bold;
	color: green;
}
.depositHeading{
	color:green;
}
.withdrawHeading{
	color: red;
}
.form-control{
	width:100%;
	height: calc(3em + 0.75rem + 2px);
	margin-bottom: 5px;
}
.submit-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: stretch;
	margin: 40px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px gray;
	background-color: #b5dcff;
	opacity: 0.9;
}
.submit-area button {
	margin-top: 20px;
}
.submit-area2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: stretch;
	margin-top: 50px;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px gray;
	background-color: floralwhite;
	opacity: 0.95;
}
.submit-area button {
	margin-top: 20px;
}
#transaction-area{
	display: none;
}
.deposit{
	
	background-color: forestgreen;
}
.withdraw{
	background-color: lightsalmon;
}
.balance{
	background-color: orange;
}
.message-container{
	text-align: center;
}
.status {
	margin: 0 20px;
	color: white;
	box-shadow: 5px 5px 10px gray;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	opacity: 0.9;
}
.status h5 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.status h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0;
}
.status span {
	font-size: 24px;
	color: #333;
}
.btn{
	padding-bottom: 0;
}
.foot{
    margin-top: 46px;
    text-align: center;
    background: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
	opacity: 0.8;
}

/* Responsive styles */

@media (max-width: 1024px) {
	.submit-area,
	.submit-area2 {
		margin: 20px;
		padding: 30px;
	}
	.form-control{
		height: calc(2em + 0.65rem + 2px);
		margin-bottom: 5px;
	}
	.message-container{
		font-size: 1.10rem;
		text-align: center;
	}
}

/* responsive for 768px */

@media (max-width: 768px) {
	body {
		padding: 30px;
	}
	h1{
		font-size: 25PX;
	}
	.status {
		margin: 10px;
		padding: 5px;
	}
	.form-control{
		height: calc(2em + 0.65rem + 2px);
		margin-bottom: 5px;
	}
	.message-container{
		font-size: medium;
		text-align: center;
	}
	.submit-area {
		margin: 10px;
		padding: 30px;
	}

	.submit-area2{
		padding: 15px;
	}
}
/* responsive for 576px */
@media (max-width: 576px) {

	h1{
		font-size:18px;
	}
	h3{
		font-size: 18px;
		text-align: center;
	}
	.submit-area {
		margin: 10px;
		padding: 30px;
	}

	.submit-area2 {
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 20px;
	}
	.message-container{
		font-size: medium;
		float: right;
	}

	.status {
		margin: 10px;
		padding: 5px;
	}
	.status h5 {
		font-size: 18px;
	}

	.status h2 {
		font-size: 20px;
	}

	.status span {
		font-size: 14px;
	}
	.foot{
		font-size: inherit;
	}
}
/* responsive for 480px */
@media (max-width: 480px) {
	body {
		padding: 15px;
	}
	h1{
		font-size:18px;
	}
	h3{
		font-size: 18px;
		text-align: center;
	}
	.form-control{
		height: calc(1.5em + 0.65rem + 2px);
		margin-bottom: 5px;
	}
	.submit-area,
	.submit-area2 {
		margin: 5px;
		padding: 10px;
	}
	.message-container{
		font-size: medium;
		float: right;
	}
	.status {
		margin: 10px;
		padding: 5px;
	}

	.status h5 {
		font-size: 18px;
	}

	.status h2 {
		font-size: 20px;
	}

	.status span {
		font-size: 14px;
	}
	.foot{
		font-size: small;
	}
}
